@tailwind base;
@tailwind components;
@tailwind utilities;

/* button:disabled, button:hover:disabled {
    background-color: rgba(255, 248, 255, 0.5);
} */
/* #root {
    height: 100vh;
    background-color: rgba(255, 248, 255, 0.5);
} */

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: rgb(136 19 55) rgb(136 19 55);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: rgb(136 19 55);
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(136 19 55);
    border-radius: 10px;
    border: 3px solid #ffffff;
  }